* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #A8CDDA;
}

nav {
  background-color: #354863;
}

nav a, #navbarNav ul li a {
  color: #FFF;
  font-size: larger;
  margin-right: 20px;
}

.week-days .col {
  background-color: #ECA0A8;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
}

.morning .box, .evening .box, .night .box {
  border-radius: 5px;
  cursor: pointer;
  height: 200px;
}

.box {
  background-color: #FEE6AF;
  margin: 10px 10px;
  height: 20px;
}

.footer {
  background-color: #354863;
  bottom: 0;
  height: 50px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.footer p {
  color: #FFF;
  margin: 10px 0;
}